<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<tb-mat-color-picker></tb-mat-color-picker>

<input type="color" [ngModel]="TinyColor( colors[0] ).toHexString()" (ngModelChange)="colors[0] = $event" />
<input type="text" [ngModel]="TinyColor( colors[0] ).toRgbString()" (ngModelChange)="colors[0] = $event" />


<tb-hue-spectrum [(value)]="colors[0]" [showAlpha]="true" [sliderOrientation]="EOrientation.VERTICAL"></tb-hue-spectrum>
<tb-wheel-lightness [(value)]="colors[0]" [showAlpha]="true" [sliderOrientation]="EOrientation.HORIZONTAL"></tb-wheel-lightness>


<pre>{{ colors[0] | json}}</pre>

<div style="width: 400px; height: 200px;" class="checkered">
	<div [ngStyle]="{ backgroundColor: TinyColor( colors[0] ).toRgbString() }" style="height: 100%; width: 100%">
		<pre>{{ TinyColor( colors[0] ).toRgbString() }}</pre>
	</div>
</div>
